<table border="0" style="background:#eee; color:#333; border:solid 1px #000000;">
  <tr>
    <td colspan="2"><strong>Заголовок в теле письма</strong></td>
  </tr>
  <tr>
    <td>%%username.title%%</td>
    <td>%%username.value%%</td>
  </tr>
  <tr>
    <td>%%userphone.title%%</td>
    <td>%%userphone.value%%</td>
  </tr>
  <tr>
    <td>%%usertime.title%%</td>
    <td>%%usertime.value%%</td>
  </tr>
</table>




